:root{
    --body-text-color:#757575;
    --title-text-color: #212121;
    --hero-text-color: #FFFFFF;
    --nav-studio-color:#000000;
    --accent-text-color:#2196F3;
    --adrress-text-color:rgba(255, 255, 255, 0.6);
    --body-background-color: #FFFFFF;
    --hero-background-color: #2F303A;
    --hero-overlay-background-color:#C4C4C4;
    --adventages-background-color: #F5F5F5;
    --our-team-background-color: #F5F4FA;
   --portfolio-button-background-color:#2196F3;
   --team-icon-color:#AFB1B8;
}
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body{
    font-family: Roboto;
    letter-spacing:0.03em;
    font-size: 14px;

    color: var(--body-text-color);
    background:var(--body-background-color);
}
h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
 /* Site header */
.site-header{
    border: 1px solid #ECECEC;
}
/* Main container */
.page{
    display: flex;
    align-items: center;
    }
.page .item:not(:last-child) {
    margin-right: 318px;
}   
/* Site-nav */
.site-nav {
    display: flex;
    align-items: center;
}
.site-nav .item:not(:last-child) {
    margin-right: 93px;
}
/* Site-logo */
.site-logo{
display: inline-block;

font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;

color: var(--accent-text-color);
}
.nav-studio {
    
    display: inline-block;
    
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    color:var(--nav-studio-color);
}
/* Navigation  */
.nav a{
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.nav{
    display: flex;
    align-items: center;
}
.nav .item:not(:last-child) {
    margin-right: 50px;
}
.contacts{
    display: flex;
    align-items: center;
}
.contacts .item:not(:last-child){
    margin-right: 30px;
}
.link {
  text-decoration: none; 
  color: var(--title-text-color);  
}
.link-studio{
    text-decoration: none;
    color: var(--title-text-color);
}
.link-studio:hover,
.link-studio:focus {
    color:var(--accent-text-color) ;}
.link-portfolio:hover,
.link-portfolio:focus{
    color: var(--accent-text-color);
}
.link-portfolio{
    text-decoration: none;
    color: var(--title-text-color); 
}
.nav .current{
    color: var(--accent-text-color);
}
.contacts a{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--body-text-color);
  }
.contacts a:hover,
.contacts a:focus{
    color:var(--accent-text-color);
  }

.email{
    padding: 0;
    border: none;
}
.icon-envelope{
    width: 16px;
    height: 16px;
    align-items: center;
}

.icon-smartphone {
    width: 10px;
    height: 16px;
    fill: var(--body-text-color);
}

  /* Hero */

.hero{
    padding: 200px 0px;
    background-color:var(--hero-background-color);
}
.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
              rgba(41, 42, 50, 0.4),
              rgba(41, 42, 50, 0.4)
              ),
            url(../images/bg-hero.jpg);
    background-color: var(--hero-overlay-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    }

.hero-title{
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height:1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero button{
    display: inline-block;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 28px;
    min-width: 216px;
    font-family: inherit;
    color: var(--hero-text-color);
    background-color:var(--portfolio-button-background-color);
    font-weight: 700;
    font-size: 16px;
    line-height:1.88;

    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 4px solid transparent; 
    letter-spacing: 0.06em;
}
/* Section */
.section{
    padding:94px 0px;
}
  /* Our advantages */
.our-advantages{
    display: flex;
}
.our-advantages .item:not(:last-child) {
    margin-right: 30px;
   }
 
.adventages{
    background-color:var(--adventages-background-color);
}
.our-icon{
padding: 25px 100px;
width: 270px;
height: 120px;
background: var(--our-team-background-color);
border-radius: 4px;
}

.icon{ 
 width: 70px;
 height: 70px;
   
}
.our-title{
    position: absolute;
    width: 1px;
    height: 1px;

    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.adventages-title{
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.14;
    font-size: 14px;

    color: var(--title-text-color);
}
.adventages-text{
 line-height:1.7;
}
/* What we do */
.work{
    display: flex;
}
.work .item:not(:last-child) {
    margin-right: 30px;
}
.works{
    padding-top: 0px;
    padding-bottom: 94px;

    background-color: var(--adventages-background-color);
}
.title{
    
    font-size: 36px;
    line-height:1.7;
    margin-bottom: 50px;
    text-align: center;

    color: var(--title-text-color);
}
/* Our Team */
.our-team{
    background-color:var(--our-team-background-color);
}
.team{
    display: flex;
}
.team .card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .item:not(:last-child) {
    margin-right: 30px;
}
.team-name{
padding-top: 30px;
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
text-align: center;
line-height:1.9;

color: var(--title-text-color);
}
.team-position{
    text-align: center;
    font-size: 16px;
    line-height:1.9;
}
.net{
    padding: 0px 32px 30px 30px;
    margin-top: 16px;
}
.pd{
    width: 206px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pd .item:not(:last-child) {
    margin-right: 10px;
}
.team-icon {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px 12px;
    border-radius: 50%;
    fill: var(--team-icon-color)
}
.team-icon:hover,
.team-icon:focus{
    background-color:var(--portfolio-button-background-color);
    fill:var(--body-background-color);
}
.icon-instagram{
    width: 20px;
    height: 20px;    
}

/* Regular cliens */
.regular-clients{
    background-color: var(--adventages-background-color)}
.clients {
      display: flex;
      justify-content: center;
  }
.clients .item:not(:last-child) {
    margin-right: 30px;}

.clients-icon{
    display: block;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill:var(--team-icon-color)
}
.icon-company{
    width: 106px;
    height: 60px;
    
}
.clients-icon:hover,
.clients-icon:focus{
    border: solid var(--accent-text-color);
    fill:var(--portfolio-button-background-color);
}

/* Footer */
.footer{
    padding:60px 0px;

    background-color:var(--hero-background-color);
}
.div-footer{
    display: flex;
    
}
.div-footer .item:not(:last-child) {
    margin-right: 70px;
}
.location{
    margin-bottom: 9px;
}
.location-link{
    display: inline-block;

    text-decoration: none;
    font-style: normal;
    line-height: 1.7;

    color: var(--hero-text-color);
}
.mail{
    margin-bottom: 9px;
}

.mail-link, .tel-link{
    display: inline-block;
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;

    color: var(--adrress-text-color);
}
.mail-link:hover,
.mail-link:focus{
    color: var(--accent-text-color);
}
.tel-link:hover,
.tel-link:focus {
    color: var(--accent-text-color);
}
.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
  
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--accent-text-color);
}
.footer-studio{
    color:var(--hero-text-color);
}
/* Social networks*/

.social-networks{
padding-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color:var(--body-background-color);
}
.social{
    display:flex;
    width: 206px;
    height: 80px;
    flex-direction: column;
}

.team-icons {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px 12px;
    border-radius: 50%;
    fill:var(--body-background-color);
   background-color: rgba(255, 255, 255, 0.1);
}

.team-icons:hover,
.team-icons:focus {
    background-color: var(--portfolio-button-background-color);
    fill: var(--body-background-color);
}

.icon-instagram {
    width: 20px;
    height: 20px;
}
.links{
    display: flex;
    
    justify-items: center;
}
.links .item:not(:last-child) {
    margin-right: 10px;
}

/* Portfolio */
.portfolio-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-nav .item:not(:last-child) {
    margin-right: 8px;}
.portfolio h1{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.buttons {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    border-radius: 4px;

    background-color:var(--our-team-background-color);
    border: 4px solid transparent;
    color: var(--title-text-color);
}

.buttons:hover,
.buttons:focus{
    background-color:var(--portfolio-button-background-color);
    color:var(--body-background-color);
}
.start{
    color: var(--hero-text-color);
    background-color:var(--portfolio-button-background-color);
}
.portfolio-works li{
    background-color:var(--body-background-color);
}
.portfolio-works a{
    text-decoration: none;
}
.portfolio-works h2{

 padding: 20px 24px 0px 24px;
 margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height:2;
        letter-spacing: 0.06em;

        color: var(--title-text-color);
}
.portfolio-works p{
    padding: 0px 24px 20px 24px;
    font-size: 16px;
    line-height: 1.8;

    color:var(--body-text-color)
}
.card-set{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}
.card-set .item{
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
    background-color: var(--body-background-color);
}




/* special(web,accent,nav) color:#2196F3;  */
/* body text color: #212121; */
/* email,tel color:rgba(255, 255, 255, 0.6); */
/* secondary color:#757575; */
/* hero color: #FFFFFF; */
/* header background color:#FFFFFF; */
/* hero,footer background: #2F303A; */
/* our advetages background: #E5E5E5; */
/* our team background: #F5F4FA; */